In [6]:
import pandas as pd
import numpy as np
from scipy import stats as st

In [15]:
df=pd.read_excel(r'C:\Users\HP\OneDrive\Bureau\GoodBelly-DataSet.xlsx', sheet_name='Real Data')
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
#Q1 - Give summary of numeric type of columns in dataset?
df.describe()

,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000
mean,253.820718,4.107093,0.549784,0.038240,0.058442,0.156566,0.075758,1.448773,2.476190
std,110.998731,0.463828,0.497695,0.191843,0.234661,0.363522,0.264705,0.975092,1.592789
min,47.559852,2.889286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189.995471,3.775714,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,236.735266,4.096667,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,295.804391,4.425067,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000
max,1041.200256,6.251538,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,5.000000

In [18]:
#Q2 Calc STD of columns in dataset
df.std()

C:\Users\HP\AppData\Local\Temp/ipykernel_17100/2211804836.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Date                    22 days 03:27:15.853934319
Units Sold                              110.998731
Average Retail Price                      0.463828
Sales Rep                                 0.497695
Endcap                                    0.191843
Demo                                      0.234661
Demo1-3                                   0.363522
Demo4-5                                   0.264705
Natural                                   0.975092
Fitness                                   1.592789
dtype: object

In [20]:
#Q3 mean of first 50 records in dataset
#df['Units Sold'].mean()
df.mean()

C:\Users\HP\AppData\Local\Temp/ipykernel_17100/3150851603.py:3: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.mean()
C:\Users\HP\AppData\Local\Temp/ipykernel_17100/3150851603.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Units Sold              253.820718
Average Retail Price      4.107093
Sales Rep                 0.549784
Endcap                    0.038240
Demo                      0.058442
Demo1-3                   0.156566
Demo4-5                   0.075758
Natural                   1.448773
Fitness                   2.476190
dtype: float64

In [22]:
#Q4 What are thecolumn names
print(df.columns)

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [23]:
#Q - Number of elements in dataset
len(df)

1386

In [25]:
#Q- No. of records this dataset has
len(df.index)

RangeIndex(start=0, stop=1386, step=1)

In [27]:
#Q type of column dataset has
df.dtypes

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                      float64
Endcap                         float64
Demo                           float64
Demo1-3                        float64
Demo4-5                        float64
Natural                        float64
Fitness                        float64
dtype: object